.app {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
}

.modal__backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: black;
  opacity: 0.8;
}
