.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 81px);
  background-color: white;
}
.calendar__top {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.calendar__box {
  position: relative;
  margin: 40px;
  padding: 40px 20px 40px 30px;
  border: 2px solid rgba(128, 128, 128, 0.342);
  border-radius: 4px 4px 2px 2px;
  width: max-content;
  height: max-content;
  max-width: 870px;
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
}

.calendar__months {
  position: absolute;
  top: -20px;
  width: max-content;
  right: 0;
  height: 40px;
  /* background-color: rgba(255, 0, 0, 0.329); */
  display: grid;
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.805);
  grid-template-columns: repeat(53, 11px);
  grid-template-rows: repeat(1, 11px);
  grid-gap: 4px 4px;
}
.calendar__months > div {
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
}
.calendar__year {
  position: relative;
  display: grid;
  width: max-content;
  grid-gap: 4px 4px;
}
.calendar__week {
  display: grid;
  grid-template-columns: repeat(1, 11px);
  grid-template-rows: repeat(7, 11px);
  grid-gap: 4px 4px;
  height: max-content;
}
.calendar__colorDescription {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 14px;
}

.linkHolder {
  position: absolute;
  bottom: 14px;
  left: 44px;
  cursor: pointer;
}
.linkHolder:hover > div {
  text-decoration: underline;
}

.colorDescription__text {
  font-size: 12px;
  color: rgb(87, 96, 106);
}
.colorDescription__text > div {
  margin-bottom: -3px;
}
.colorDescription__box {
  border: 1px solid rgba(27, 31, 35, 0.06);
  width: 8px;
  height: 8px;
  border-radius: 2px;
}
.colorDescription__box + .colorDescription__box {
  margin-left: 3px;
}
.dayName {
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.805);
  position: relative;
}
.dayName > div {
  display: flex;
  width: 21px;
  position: absolute;
  right: 0;
  bottom: 0.5px;
}
.calendar__day {
  border: 1px solid rgba(27, 31, 35, 0.06);
  border-radius: 2px;
  position: relative;
}
* {
  --color-day-L1-bg: #9be9a8;
  --color-day-L2-bg: #40c463;
  --color-day-L3-bg: #30a14e;
  --color-day-L4-bg: #216e39;
  --color-day-L5-bg: #18532b;
}
.calendar__day__info {
  padding: 5px 10px;
  position: absolute;
  bottom: 12px;
  right: 50%;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 5px;
  color: white;
  display: none;
  z-index: 99;
}
.calendar__bottom {
  height: 100%;
  /* border-top: 1px solid gray; */
}
.calendar__jobs {
  justify-content: center;
  margin-top: 20px;
}
.calendar__jobs > button {
  height: 60px;
  width: 60px;
  margin: 5px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  background-color: transparent;
}
.calendar__jobs > button:hover {
  opacity: 0.6;
}
.calendar__day__info > div {
  font-size: small;
  margin-top: -2px;
}
.calendar__day:hover > .calendar__day__info {
  display: inline;
}
@media (max-width: 700px) {
  .calendar__box {
    width: 80vw;
  }
  .linkHolder {
    display: none;
  }
}
.calendar__empty {
  border: 1px solid rgba(27, 31, 35, 0.06);
  border-radius: 2px;
  position: relative;
  background-color: white;
  padding: 50px;
  text-align: center;
}
.calendar__empty > div {
  margin-top: 20px;
  font-size: 12px;
}
.calendar__empty > button {
  margin-top: 20px;
  font-size: 12px;
  background-color: #40c463;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  width: 90px;
}
.calendar__empty > button:hover {
  color: white;
  box-shadow: 0 0 2px rgb(80, 74, 74);
}
.calendar__empty > button:active {
  color: rgb(8, 73, 8);
  transform: scale(0.95);
  box-shadow: none;
}
