.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 81px);
  background-color: white;
}
.calendar__top {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.calendar__box {
  margin: 40px;
  padding: 40px 20px 40px 30px;
  border: 2px solid rgba(128, 128, 128, 0.342);
  border-radius: 4px 4px 2px 2px;
  width: max-content;
  height: max-content;
  max-width: 870px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  overflow-x: hidden;
}
.calendar__months {
  position: absolute;
  top: -20px;
  width: max-content;
  right: 0;
  height: 40px;
  /* background-color: rgba(255, 0, 0, 0.329); */
  display: grid;
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.805);
  grid-template-columns: repeat(53, 11px);
  grid-template-rows: repeat(1, 11px);
  grid-gap: 4px 4px;
}
.calendar__months > div {
  margin-bottom: -10px;
  /* width: 11px; */
  display: flex;
  justify-content: center;
}
.calendar__year {
  position: relative;
  display: grid;
  width: max-content;
  grid-gap: 4px 4px;
}
.calendar__week {
  display: grid;
  grid-template-columns: repeat(1, 11px);
  grid-template-rows: repeat(7, 11px);
  grid-gap: 4px 4px;
  height: max-content;
}
.dayName {
  font-size: xx-small;
  color: rgba(0, 0, 0, 0.805);
  position: relative;
}
.dayName > div {
  display: flex;
  width: 21px;
  position: absolute;
  right: 0;
  bottom: 0.5px;
}
.calendar__day {
  border: 1px solid rgba(27, 31, 35, 0.06);

  border-radius: 2px;
  position: relative;
}
* {
  --color-day-L1-bg: #9be9a8;
  --color-day-L2-bg: #40c463;
  --color-day-L3-bg: #30a14e;
  --color-day-L4-bg: #216e39;
  --color-day-L5-bg: #18532b;
}
.calendar__day__info {
  padding: 5px 10px;
  position: absolute;
  bottom: 12px;
  right: 50%;
  /* transform: translateX(50%); */
  width: max-content;
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 5px;
  color: white;
  display: none;
  z-index: 99;
}
.calendar__bottom {
  height: 100%;
  border-top: 1px solid gray;
}
.calendar__jobs {
  justify-content: center;
  margin-top: 20px;
}
.calendar__day__info > div {
  font-size: small;
  margin-top: -2px;
}
.calendar__day:hover > .calendar__day__info {
  display: inline;
}
@media (max-width: 700px) {
  .calendar__box {
    width: 80vw;
  }
}
