.header {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: gainsboro;
}
.header__left {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.header__leftInputs {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
}
.header__leftInputs > div {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: flex-end;
}
.header__leftInputs input,
.header__leftInputs label {
  cursor: pointer;
  color: gray;
}
.header__leftInputs > div > input {
  margin-left: 10px;
  margin-bottom: -4px;
}

.header__leftInfo {
  padding-left: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__leftInfo > div > div {
  font-weight: 900;
  font-size: small;
  margin: 0 15px;
}
.header__leftInfoStats {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  width: 120px;
  /* height: 55px; */
  padding: 5px 0;
}
.app_rejected {
  color: rgba(131, 16, 16, 0.8);
  white-space: nowrap;
}
.app_rejected,
.app_moved,
.app_waiting {
  display: flex;
}
.app_rejected :nth-child(2),
.app_moved :nth-child(2),
.app_waiting :nth-child(2) {
  /* margin-left: 10px; */
  width: 75px;
}
.app_rejected :nth-child(1),
.app_moved :nth-child(1),
.app_waiting :nth-child(1) {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.app_moved {
  color: rgba(74, 189, 74, 0.7);
  white-space: nowrap;
}
.app_waiting {
  color: rgba(128, 128, 128, 0.904);
  white-space: nowrap;
}

.header__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__right > button {
  margin-right: 20px;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
  height: 25px;
  width: 90px;
  background-color: rgba(255, 0, 0, 0.137);
}

.header__right > button:hover {
  color: white;
  box-shadow: 0 0 2px rgb(80, 74, 74);
}
.header__right > button:active {
  color: rgb(92, 17, 17);
  transform: scale(0.95);
  box-shadow: none;
}

.header__right > div {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header__right > div > div {
  height: 25px;
  width: 90px;
}
.jobs__tab {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
  display: flex;
  border: 1px solid white;
  justify-content: center;
  background-image: radial-gradient(transparent, white);
}
.calendar__tab {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
  border: 1px solid white;
  background-image: radial-gradient(transparent, white);
  display: flex;
  justify-content: center;
}

.connection__line {
  position: absolute;
  bottom: -28px;
  height: 27px;
  border-left: 4px solid white;
}

.jobs__tab:hover,
.calendar__tab:hover {
  color: white;
}
.calendar__tab__selected {
  cursor: default;
  color: white;
  background-image: none;
}

.jobs__tab__selected {
  cursor: default;
  color: white;
  background-image: none;
}
.header__middle {
  padding: 0 20px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__middle > button {
  background-color: #40c463;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  width: 90px;
}
.header__middle > button:hover {
  color: white;
  box-shadow: 0 0 2px rgb(80, 74, 74);
}
.header__middle > button:active {
  color: rgb(8, 73, 8);
  transform: scale(0.95);
  box-shadow: none;
}
.app_total {
  color: rgba(0, 0, 0, 0.275);
  font-weight: 900;
  font-size: small;
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: center;
}
.header__leftTitle {
  margin-left: 20px;
  font-weight: bolder;
  color: gray;
}

@media (max-width: 900px) {
  .header__leftInfo > div {
    font-size: small;
  }
  .header__leftInfoStats {
    display: flex;
    flex-direction: column;
  }
  .header__leftInfoTotoal {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__leftTitle {
    display: none;
  }
  .header__middle > button {
    width: 80px;
  }
  .header__right > button {
    display: none;
  }
  .header__leftInputs {
    margin-left: 20px;
  }
  .header__leftInfo {
    padding-left: 10px;
  }
  .jobs__tab {
    width: max-content;
    margin-bottom: 2px;
  }
  .header__right > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__right > div > div {
    width: 80px;
  }
  .connection__line {
    border: transparent;
  }
}
@media (max-width: 500px) {
  .header__leftInfoStats {
    display: none;
  }
}
