.header {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__left {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.header__leftInputs {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.header__leftInputs > div {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;
}
.header__leftInputs input,
.header__leftInputs label {
  cursor: pointer;
  color: gray;
}
.header__leftInputs > div > input {
  margin-left: 10px;
  margin-bottom: -4px;
}

.header__leftInfo {
  padding-left: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__leftInfo > div > p {
  font-weight: 900;
  font-size: small;
  margin: 0 15px;
}
.header__leftInfoStats {
  display: flex;
  flex-direction: column;
}
.app_rejected {
  color: rgba(131, 16, 16, 0.8);
  white-space: nowrap;
}
.app_rejected,
.app_moved,
.app_waiting {
  display: flex;
}
.app_rejected :nth-child(2),
.app_moved :nth-child(2),
.app_waiting :nth-child(2) {
  /* margin-left: 10px; */
  width: 75px;
}
.app_rejected :nth-child(1),
.app_moved :nth-child(1),
.app_waiting :nth-child(1) {
  width: 30px;
  display: flex;
  justify-content: center;
}
.app_moved {
  color: rgba(74, 189, 74, 0.7);
  white-space: nowrap;
}
.app_waiting {
  color: rgba(128, 128, 128, 0.904);
  white-space: nowrap;
}

.header__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__right > button {
  margin-right: 20px;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  background-color: rgba(255, 0, 0, 0.137);
}
.header__right > div {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header__right > div > div {
  padding: 10px;
  width: 70px;
  cursor: pointer;
}
.jobs__tab {
  color: gray;
  font-weight: bold;
  border-right: 1px solid rgba(128, 128, 128, 0.363);
  display: flex;
  justify-content: center;
  background-image: radial-gradient(transparent, white);
}
.calendar__tab {
  color: gray;
  font-weight: bold;
  border-left: 1px solid white;
  background-image: radial-gradient(transparent, white);
  display: flex;
  justify-content: center;
}
.jobs__tab:hover,
.calendar__tab:hover {
  color: white;
}
.calendar__tab__selected {
  color: white;
  background-image: radial-gradient(transparent, transparent, white);
  /* border: 1px solid white; */
}

.jobs__tab__selected {
  color: white;
  background-image: radial-gradient(transparent, transparent, white);
  /* border: 1px solid white; */
}
.header__middle {
  padding: 0 20px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__middle > button {
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: max-content;
}
.app_total {
  color: rgba(0, 0, 0, 0.275);
  font-weight: 900;
  font-size: small;
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: center;
}
.header__leftTitle {
  margin-left: 20px;
  font-weight: bolder;
  color: gray;
}

@media (max-width: 900px) {
  .header__leftInfo > p {
    font-size: small;
  }
  .header__leftInfoStats {
    display: flex;
    flex-direction: column;
  }
  .header__leftInfoTotoal {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__leftTitle {
    display: none;
  }
  .header__middle > button {
    width: max-content;
  }
  .header__right > button {
    display: none;
  }
  .header__leftInputs {
    margin-left: 20px;
  }
  .header__leftInfo {
    padding-left: 10px;
  }
  .jobs__tab {
    width: max-content;
  }
  .header__right > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__right > div > div {
    padding: 5px;
    width: 70px;
    cursor: pointer;
  }
  .jobs__tab {
    border: none;
  }
}
@media (max-width: 500px) {
  .header__leftInfoStats {
    display: none;
  }
}
