.jobDetails {
  position: fixed;
  background-color: white;
  top: 50vh;
  right: 50vw;
  transform: translate(50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  min-height: 60vh;
}
.jobDetails button {
  cursor: pointer;
}
.jobDetails__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 7px;
}
.jobDetails__headerTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobDetails__headerTexts > span {
  font-size: 12px;
}
.jobDetails__headerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}
.jobDetails__headerButtons > button {
  margin-right: 20px;
  margin-bottom: -5px;
  width: 50px;
  padding: 2px 0;
}
.jobDetails__headerButtons > button + button {
  margin-top: 10px;
}
.jobDetails__headerLogo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
}
.jobDetails__headerLogo > div {
  display: flex;
  align-items: center;
}
.jobDetails__headerLogo > div > input {
  margin-bottom: -4px;
  cursor: pointer;
}
.jobDetails__headerLogo > div > label {
  width: 80px;
  cursor: pointer;
}
.jobDetails__headerTexts > h1 {
  margin-right: 20px;
}
.jobDetails__headerTexts > h2 {
  margin-bottom: -5px;
}
.jobDetails__main {
  padding: 20px 50px;
}

.saveChange {
  padding: 3px 0;
}
